@model List<UserWithRoleViewModel>

<div class="d-flex justify-content-between">
    <div>
        <h2>List of Users</h2>
    </div>
    <div class="d-flex align-items-center">
        <a class="btn btn-primary btn-sm" asp-area="Admin" asp-controller="Users" asp-action="Create">Add User</a>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteUserModalLabel">Delete User</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="modalBody" class="modal-body">
            </div>
            <div id="modalFooter" class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<table class="table table-bordered">
    <tr class="bg-secondary text-center text-white">
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
        <th></th>
        <th></th>
    </tr>

    @if (Model.Count == 0)
    {
        <tr>
            <td colspan="4" class="text-center">No Users for this app</td>
        </tr>
    }
    else
    {
        foreach (var user in Model)
        {
            <tr>
                <td>@user.Username</td>
                <td>@user.Email</td>
                <td>@user.Role</td>
                <td class="text-center">
                    <a class="btn btn-sm btn-secondary" asp-action="Edit" asp-area="Admin" asp-route-id="@user.UserId">Edit</a>
                </td>
                <td class="text-center">
                    @if (user.Role != "Admin")
                    {
                        <button data-uid="@user.UserId" data-username="@user.Username" type="button" class="deleteUserBtn btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#deleteUserModal">
                            Delete
                        </button>
                    }
                </td>
            </tr>
        }
    }
</table>

<script type="text/javascript">
    const deleteUserBtns = document.querySelectorAll(".deleteUserBtn");
    const modalBody = document.getElementById("modalBody");
    const modalFooter = document.getElementById("modalFooter");
    const deleteBtn = document.createElement("a");
    deleteBtn.classList = "btn btn-danger";
    deleteBtn.innerHTML = "Delete";

    modalFooter.appendChild(deleteBtn);

    deleteUserBtns.forEach(el => el.addEventListener('click', e => {
        deleteBtn.href = `/Admin/Users/Delete/${e.target.getAttribute("data-uid")}`;
        modalBody.innerHTML = `Delete user ${e.target.getAttribute("data-username")}?`
    }));
</script>