@model List<Order>
@{
    ViewData["Title"] = "Manage Orders Page";
}

<div class="d-flex justify-content-between">
    <div>
        <h2>Manage Orders</h2>
    </div>
    <div class="d-flex align-items-center">
    </div>
</div>

<table class="table table-bordered">
    <tr class="bg-secondary text-center text-white">
        <th>Order By</th>
        <th>Order Date</th>
        <th>Status</th>
        <th>Promo</th>
        <th></th>
    </tr>


    @if (Model.Count == 0)
    {
        <tr>
            <td colspan="5" class="text-center">No orders yet</td>
        </tr>
    }
    else
    {
        foreach (var order in Model)
        {
            <tr>
                <td>@order.UserName</td>
                <td class="text-center">@order.OrderDate</td>
                <td class="text-center">@order.status</td>
                <td class="text-center">@(order.IsPromo ? "Yes" : "No")</td>
                <td class="text-center">
                    <a class="btn btn-sm btn-secondary" asp-action="Edit" asp-area="" asp-route-id="@order.Id">Update</a>
                </td>
            </tr>
        }
    }
</table>
